<!DOCTYPE html>
<!-- 
<p>One Way Binding</p>
<p>Primer numero</p>
<input type="number" (keyup)="getNumber1($event)">


<p>segundo numero</p>
<input type="number" (keyup)="getNumber2($event)">

<button (click)="sumar()">Sumar</button>


<p>El resultado es : {{toal}}</p>
-->|
<p>Two Way Binding </p>

<section>
    <table>
       <tbody>
        <tr>
            <td>
                <p>Primer numero</p>
            </td>

        </tr>
        <tr>
            <td>
                <button (click)="disminuirN1()">-</button>
                <input type="number" [(ngModel)]="numero1">
                <!-- {{numero1}} -->
                <button (click)="aumentarN1()">+</button>
                </td> 
        </tr>
        <tr>
            <td>
                <p>Segundo numero</p>
            </td>

        </tr>
        <tr>
            <td>
                <button (click)="disminuirN2()">-</button>
                <input type="number" [(ngModel)]="numero2">
                <!-- {{numero2}} -->
                <button (click)="aumentarN2()">+</button>
                </td> 
        </tr>
        <tr>
            <td>
                <p>Operaciones</p>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="sumar()">+</button>
            </td>
            <td>
                <button (click)="resta()">-</button>
            </td>
            <td>
                <button (click)="multiplicar()">X</button>
            </td>
            <td>
                <button (click)="dividir()">/</button>
            </td>
            
        </tr>
        <tr>
            <td>
                <button (click)="limpiar()">Clear</button>
            </td>
        </tr>
        <tr>
            <td>
                <p>La accion es: {{accion}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>El resultado es : {{toal}}</p>
            </td>
        </tr>
       </tbody>
    </table>
</section>